<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unionman.mqtt.dao.master.IMessageMapper">
	
	<!-- 保存设备发布的信息 -->
	<insert id="insertMessageInfo" parameterType ="com.unionman.mqtt.data.PublishMessageData">
		insert into biz_publish_message_info
		(id, client_id, username, topic, qos, payload, receive_time) 
		values 
		(#{id}, #{client_id}, #{username}, #{topic}, #{qos}, #{payload}, #{receive_time})
	</insert>
	
	<!-- 设备发布的信息 -->
	<resultMap id="publishMessageInfo" type="com.unionman.mqtt.data.PublishMessageData">
		<result column="id" jdbcType="BIGINT" property="id" />
		<result column="client_id" jdbcType="VARCHAR" property="client_id" />
		<result column="username" jdbcType="VARCHAR" property="username" />
		<result column="topic_msg" jdbcType="VARCHAR" property="topic_msg" />
		<result column="topic" jdbcType="VARCHAR" property="topic" />
        <result column="qos" jdbcType="INTEGER" property="qos" />
        <result column="payload" jdbcType="VARCHAR" property="payload" />
        <result column="receive_time" jdbcType="VARCHAR" property="receive_time" />
    </resultMap>
    
    <!-- 获取设备发布的信息 -->
    <select id="getPublishMessageInfo" parameterType="map" resultMap="publishMessageInfo">
    	select messageInfo.id, messageInfo.client_id, messageInfo.username, 
    	messageInfo.topic, messageInfo.qos, messageInfo.payload, messageInfo.receive_time, topic_msg
    	from biz_publish_message_info messageInfo 
    	left join dict_publish_topic_info topicInfo on messageInfo.topic= topicInfo.topic
    	where 1=1
    	<if test="client_id != null and client_id != ''">
    		and messageInfo.client_id like concat('%',#{client_id},'%')
    	</if>
    	<if test="username != null and username != ''">
    		and messageInfo.username like concat('%',#{username},'%')
    	</if>
    	<if test="topic != null and topic != ''">
    		and messageInfo.topic like concat('%',#{topic},'%')
    	</if> 
    	order by messageInfo.receive_time desc
    </select>

</mapper>